/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-background {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust as needed */
  }